if [ -f .python-version ]; then
  pyver=$(cat .python-version)
else
  pyver="system"
fi

if [ "$pyver" = "system" ]; then
  layout python3
else
  layout python3 "$pyver"
fi

if [ ! -f .direnv/.bootstrapped ]; then
  echo "🔧 Instalando dependencias por primera vez..."
  pip install --upgrade pip
  pip install -r requirements.txt requirements-dev.txt

  # También se pueden instalar herramientas de desarrollo manualmente en lugar de generar un archivo requirements-dev.txt
  # pip install pre-commit ansible-lint dotenv
  pre-commit install
  touch .direnv/.bootstrapped
fi

dotenv
